numpy>=1.23.0
scipy>=1.9.0
pandas>=1.4.0
matplotlib>=3.5.0
seaborn>=0.11.2
scikit-learn>=1.0.0
torch>=1.12.0
pillow>=9.0.0
pyyaml>=6.0
transformers>=4.48.3
nltk>=3.7
spacy>=3.4.0
jupyterlab>=3.4.0
xgboost>=1.6.0
lightgbm>=3.3.0
plotly>=5.9.0
dash>=2.6.0
kagglehub>=0.3.7
tf-keras>=2.18.0